<div class="flex flex-row h-screen w-screen flex-wrap">
  <div class="w-10/12 lg:w-3/4 m-auto bg-slate-300 p-8">
    <h1 class="font-bold text-center text-md lg:text-xl">{{ title }}</h1>
    <h1 class="font-semibold text-right lg:text-lg mt-2 text-gray-600"><span class="font-bold">Doi: </span>{{ doi }}</h1>
    <div class="my-4">
      <p class="my-2"><span class="font-bold">Title: </span>{{ title }}</p>
      <p class="my-2"><span class="font-bold">Date: </span>{{ date }}</p>
      <p class="my-2">
        <span class="font-bold">Publisher: </span>{{ publisher }}
      </p>
      <p class="my-2"><span class="font-bold">Language: </span>{{ lang }}</p>
      <p><span class="font-bold">Link: </span>{{link}}</p>
    </div>
  </div>
</div>
